.hobby-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}

.travel-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.travel-images img {
    width: calc(50% - 10px);
    height: auto;
    border-radius: 10px;
}

.theatre-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}
.gym-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
}